@model Oraculo.Models.Editora

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Editora</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditoraFoto)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayNameFor(model => model.EditoraFoto)">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditoraTexto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditoraTexto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retornar para a página de Editoras</a>
</div>
