@model Oraculo.Models.MaisComentados

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes de Mais Comentados</h1>

<div>
    <h4>Mais Comentados</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postagem.PostagemId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retornar para a lista de Mais Comentados</a>
</div>
