@model Oraculo.Models.ComunidadeGenero

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Comunidade Gênero</h1>

<div>
    <h4>Comunidade Gênero</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comunidades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comunidades.NomeComunidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.GeneroNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retornar para a lista de comunidade e gênero</a>
</div>
