@model Oraculo.Models.Comunidades

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Comunidade</h1>

<div>
    <h4>Comunidades</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeComunidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeComunidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retornar para a lista de Comunidades</a>
</div>
