@model IEnumerable<Oraculo.Models.Comunidades>

@{
    ViewData["Title"] = "Index";
}

<h1>Página de Comunidades</h1>

<p>
    <a asp-action="Create" class="create">Criar nova comunidade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeComunidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeComunidade)
            </td>
            <td class="details">
                    <a asp-action="Details" asp-route-id="@item.ComunidadesId"><i class="fa-solid fa-circle-info"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
