@model Oraculo.Models.Postagem

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Postagem</h1>

<h4>Postagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PostagemNome" class="control-label">Mensagem da Postagem</label>
                <input asp-for="PostagemNome" class="form-control" />                
            </div>
            <div class="form-group">
                <label asp-for="PostagemImg" class="control-label">Imagem da Postagem</label>
                <input asp-for="PostagemImg" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ComunidadesId" class="control-label">Comunidade</label>
                <select asp-for="ComunidadesId" class="form-control" asp-items="ViewBag.ComunidadesId"></select>
                <span asp-validation-for="ComunidadesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label">Categoria</label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Like" class="control-label"></label>
                <input asp-for="Like" class="form-control" />
                <span asp-validation-for="Like" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compartilhamento" class="control-label"></label>
                <input asp-for="Compartilhamento" class="form-control" />
                <span asp-validation-for="Compartilhamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar para a lista de postagens</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
