@model Oraculo.Models.Novidade

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Novidade</h1>

<div>
    <h4>Novidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NovidadeFoto)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayNameFor(model => model.NovidadeFoto)">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NovidadeTexto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NovidadeTexto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retornar para a lista de novidades</a>
</div>
